$UVSASE-blue: #009fb7;
$UVSASE-dark-blue: #114b5f;
$UVSASE-Yellow: #fed766;

.uvsase-blue {
    color: $UVSASE-blue;
}

.dark-blue-bg-color {
    background-color: $UVSASE-blue;
}

.thead-blue {
    background-color: #F8F9FA;
    border-bottom: 3px solid $UVSASE-blue !important;
}

.border-color {
    border: solid $UVSASE-blue 3px !important;
}

.btn-UVSASE-darkblue {
    background-color: $UVSASE-dark-blue;
    color: #FFFFFF;
}

.workshop-background-color {
    background-color: transparent;
}





.btn-UVSASE-darkblue:hover {
    color: $UVSASE-blue;
}



.workshopText {
    font-size: 1.2rem;
}

.card-admin-text {
    color: white;
    font-size: 1.5rem;
}

.workshopName {
    font-size: 16px;
    text-align: center;
}

.numberRegistered {
    font-size: 12px;
    text-align: center;
}

.columnName {
    color: $UVSASE-blue !important;
    font-size: 1.5rem;
}

.account-registered-number {
    font-size: 4rem;
    text-align: center;
    color: $UVSASE-blue;
    font-weight: 300;
}

.account-registered-title {
    color: $UVSASE-blue;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
}

.dashboard-card-img {
    height: 100px;
    width: 70px;
    margin-top: 1rem;
}




.card-hover:hover {
    background-color: $UVSASE-Yellow;
}

.filterIcon {
    display: none;
    height: 20px;
    width: 20px;
}

.user-info {
    color: $UVSASE-blue;
    font-size: 1.2rem;
}

.workshop-link {
    color: $UVSASE-blue;;
}

.workshop-link:hover {
    color: $UVSASE-Yellow;
}

.teamName-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 1rem;
}

.teanName-names {
    text-align: center;
    margin-bottom: .5rem;
    font-size: 1.2rem;
}



@media screen and (min-width: 448px) {
    .filterIcon {
        display: inline-block;
    }
}

@media screen and (min-width: 768px) {
    .dashboard-card-img {
        margin-top: 0rem;
    }

    .min-card-height {
        height: 150px;
    }
}

