$UVSASE-blue: #009fb7;
$UVSASE-dark-blue: #114b5f;
$UVSASE-Yellow: #fed766;

.dark-blue-bg-color {
    background-color: $UVSASE-blue;
}

.thead-blue {
    background-color: $UVSASE-blue;
}

.btn-UVSASE-darkblue {
    background-color: $UVSASE-dark-blue;
    color: #FFFFFF;
}

.UVSASE-Yellow {
    color: white;
}

.btn-UVSASE-darkblue:hover {
    color: $UVSASE-blue;
}

.maxIconSize {
    height: 64px;
    width: 64px;
}

.workshopText {
    font-size: 1.2rem;
}

.card-admin-text {
    color: white;
    font-size: 1.5rem;
}

.workshopName {
    font-size: 16px;
    text-align: center;
}

.numberRegistered {
    font-size: 12px;
    text-align: center;
}

.columnName {
    color: $UVSASE-Yellow !important;
}

.account-registered-number {
    font-size: 4rem;
    text-align: center;
    color: $UVSASE-blue;
    font-weight: 300;
}

.account-registered-title {
    font-size: 1.5rem;
    color: $UVSASE-blue;
    text-align: center;
    font-weight: bold;
}

.dashboard-card-img {
    padding: 2rem;
}

.dashboard-card {
    background-color: transparent;
    border: solid 1px $UVSASE-blue;
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
}