$UVSASE-blue: #009fb7;
$UVSASE-dark-blue: #114b5f;
$UVSASE-Yellow: #fed766;

* {
    font-family: 'Raleway', sans-serif;
}



body {
    background-color: #F8F9FA;
}

.nav-link {
    color: white !important;
}

.navbar-brand {
    color: white !important;
}

.dashboard-card {
    background-color: transparent;
    border: solid 1px $UVSASE-blue;
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
}

.bg-UVSASE-blue {
    background-color: $UVSASE-dark-blue !important;
}
.text-UVSASE-blue {
    color: $UVSASE-blue;
}

.no-border-top {
    border-top: none !important;
}

.maxIconSize {
    height: 70px;
    width: 70px;
}