
$UVSASE-blue: #009fb7;
$UVSASE-dark-blue: #114b5f;
$UVSASE-Yellow: #fed766;


.lovebox-title {
   font-size: 3rem; 
   color: $UVSASE-blue;
}

.btn-UVSASE-blue {
   background-color: $UVSASE-blue;
   color: white;
}

.btn-outline-UVSASE {
   color: $UVSASE-blue;
   border-color: $UVSASE-blue;
}


.btn-outline-UVSASE:hover {
   background-color: $UVSASE-blue;
   color: white;
}

.messageHeight {
    width: 400px;
}