


$UVSASE-blue: #009fb7;
$UVSASE-dark-blue: #114b5f;
$UVSAE-Yellow: #fed766;

.team-img-maxSize {
    height: 200px; 
    width: 200px;
    object-fit: contain;
}

.tap-icon {
    width: 20px;
    height: 20px;
}

.positiveSparksTitle {
  font-size: 3rem;
  color: $UVSASE-blue;
}

.warning {

  font-weight: bold;
}

.nameCounter {
  font-size: 2rem;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .fade-in-test {  
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1s ease-out 0s 1 slideInFromLeft;
  }