
$UVSASE-blue: #009fb7;
$UVSASE-dark-blue: #114b5f;
$UVSASE-Yellow: #fed766;

.btn-UVSASE-darkBlue {
    background-color: #3E919F;
}

.hidden {
    display: none;
}

.maxIconSize {
    height: 64px; 
    width: 64px;
}

.confirmation-message {
    background-color: transparent;
    border: 1px solid $UVSASE-blue;
    box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
}

.workshop-border {
    border: 3px solid $UVSASE-blue;
}

.workshop-font-color {
    color: $UVSASE-blue;
    font-weight: bold;
}

th {
    color: $UVSASE-dark-blue;
}