
$UVSASE-blue: #009fb7;
$UVSASE-dark-blue: #114b5f;
$UVSASE-Yellow: #fed766;

.btn-UVSASE-darkBlue {
    background-color: #3E919F;
}

.hidden {
    display: none;
}

.maxIconSize {
    height: 64px; 
    width: 64px;
}

.confirmation-message {
    background-color: transparent;
    border: 1px solid $UVSASE-blue;
    box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
}

.workshop-border {
    border: 3px solid $UVSASE-blue;
}

.workshop-font-color {
    color: $UVSASE-blue;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}

th {
    color: $UVSASE-dark-blue;
}

.max-img-size {
    height: 40px;
    width: 40px;
}

.yellow-bg {
    background-color: $UVSASE-Yellow;
}

.worshop-name {
    font-size: 1.5rem;
}

.presenter-name {
    color: $UVSASE-blue;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.remaining-spots {
    color: $UVSASE-dark-blue;
    font-weight: bold;
    font-size: 1.2rem;
}

.workshop-presenter-photo {
    object-fit: contain;
    height: 200px;
    width: 200px;
}