$UVSASE-blue: #009fb7;
$UVSASE-dark-blue: #114b5f;
$UVSAE-Yellow: #fed766;


.bg-red {
    background-color: $UVSASE-blue;
    padding: 2rem;
    height: 550px;
    display: flex;
    align-items: center;
}

.maxHeight {
    max-height: 100%;
}

label {
    color: white;
 
}

.gradient-bg {
    background: rgb(255,195,0);
    background: linear-gradient(90deg, rgba(255,195,0,0.7412756309148265) 0%, rgba(65,186,219,1) 89%);
}

.register-button {
    background-color: $UVSASE-dark-blue;
    color: white;
    width: 100%;
}

.register-button:hover {
    color: $UVSASE-blue;
}

.login-button {
    background-color: $UVSASE-dark-blue;
    color: white;
    width: 100%;
}

.login-button:hover {
    color: $UVSASE-blue;
}

.error {
    color: $UVSAE-Yellow;
    display: none;
}

#loading-spinner {
    display: none;
}

.login-link {
    color: $UVSAE-Yellow;
}

.label-icons {
    width: 20px;
    height: 20px;
    margin-left: .3rem;
    margin-bottom: .1rem
}

@media screen and (min-width: 1200px) {
    .maxHeight {
        max-height: 550px;
    }
}