<div class="container-fluid gradient-bg ">


  <div class="container-fluid container-xl">
    <div class="row min-vh-100 align-items-center justify-content-center py-5">
      <div class="col-12 col-xl-6 bg-red shadow-lg">
        <form class="w-100" id="login">

          <div class="form-group">

            <label for="exampleInputEmail1">
              Email address
              <img class="label-icons" src="./Images/Account/email_icon.svg">
            </label>
            <input type="email" class="form-control" name="login">

          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">
              Password
              <img class="label-icons" src="./Images/Account/password_icon.svg">
            </label>
            <input type="password" class="form-control" name="password">
          </div>

          <button type="submit" class="btn login-button">
            Login
          </button>

          <div class="d-flex justify-content-center ">
            <div id="loading-spinner" class="spinner-border text-warning my-3" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>

          <div class="text-white mt-3">
            Don't have an account?
            <a class="resetPassword" href="/signup">
              Sign Up
            </a>
          </div>

          <div class="text-white" href="/resetPassword">

            <a class="resetPassword" href="/resetPassword">
              Forgot password?
            </a>
          </div>



          <div class="error pt-3">
            There was an error with the account information. Please try again.
          </div>
        </form>


      </div>
      <div class="col-12 col-xl-6 px-0 shadow-lg">
        <img class="img-fluid maxHeight" src="./Images/Account/bg2.png">
      </div>
    </div>
  </div>
</div>



<script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-auth.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

<script>
  window.addEventListener("DOMContentLoaded", () => {
    const firebaseConfig = {
      apiKey: "AIzaSyCic5UWC0fXladccjESHt2eEUFR3GCpu7k",
      authDomain: "test-73b01.firebaseapp.com",
      databaseURL: "https://test-73b01.firebaseio.com",
      projectId: "test-73b01",
      storageBucket: "test-73b01.appspot.com",
      messagingSenderId: "622256382010",
      appId: "1:622256382010:web:305e70e752a5a757c2d503"
    };

    firebase.initializeApp(firebaseConfig);
    document
      .getElementById("login")
      .addEventListener("submit", (event) => {
        document.getElementById("loading-spinner").style.display = "block";
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;

        firebase
          .auth()
          .signInWithEmailAndPassword(login, password)
          .then(({ user }) => {
            return user.getIdToken().then((idToken) => {
              return fetch("/sessionLogin", {
                method: "POST",
                headers: {
                  Accept: "application/json",
                  "Content-Type": "application/json",
                  "CSRF-Token": Cookies.get("XSRF-TOKEN"),
                },
                body: JSON.stringify({ idToken }),
              });
            });
          })
          .then(() => {
            window.location.assign("/");
          })
          .catch(function (err) {
            console.log(84, err);
            $(".error").show();
            event.target.login.value = "";
            event.target.password.value = "";
          })
          ;
        return false;
      });
  });
</script>