<div class="container">
    <div class="row mt-5">
        <div class="col">
            <div class="text-center lovebox-title">
                LoveBox
            </div>

            <% for(var i = 0; i < dataArray.length; i++) { %>
            <div class="d-flex justify-content-center">
                <div class="text-left mb-3">
                    <%= dataArray[i] %>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>