<div class="my-4">
    <img class="mx-auto" style="width: 45%; display: block;" src="./Images/Profile/SELC-Reboot.jpg">
</div>
<!-- Top section with basic attendee info -->
<div class="container my-5">
    <div class="row ml-3">
        <div class="col-md">
            <!-- Attendee photo with background border color of family color -->
            <div class="col">
                <img class="fam-color w-25 img-fluid float-left mr-3" id="attendeePic">
            </div>
            <div class="col" id="attendeeText">
                <!-- Attendee name and school -->
                <h1 id="currentName">

                </h1>
            </div>
        </div>
        <!-- Points and Ranking -->
        <div class="col-md-3 mr-3 my-auto">
            <div class="row my-4">
                <table class="dl mx-auto">
                    <tr>
                        <td id="rank">

                        </td>
                        <td id="points">

                        </td>
                    </tr>
                    <tr class="frp">
                        <td> Individual Rank</td>
                        <td>Points</td>
                    </tr>
                    <tr>
                        <td id="frank">

                        </td>
                        <td id="fpoints">

                        </td>
                    </tr>
                    <tr class="frp">
                        <td>Family Rank</td>
                        <td>Family Points</td>
                    </tr>
                </table>
                <button class="btn btn-info mt-3 mx-auto px-5" href="">Go To Leaderboard</button>
            </div>
        </div>
    </div>
</div>
<!-- End top section with basic attendee info -->
<!-- SELC Schedule -->


<div class="container mobile-center">
    <button class="btn btn-tab mb-2 mobile-width" type="button" data-toggle="collapse" data-target="#scheduleCollapse" aria-expanded="true"
        aria-controls="scheduleCollapse">
        My SELC Schedule</button>

    <div class="collapse dont-collapse-sm d-block" id="scheduleCollapse">
        <div class="row">
            <!-- Friday -->
            <div class="col-md bg-light px-3 mx-3">
                <h5 class="text-center my-3">—Friday—</h5>
                <table class="table table-sm" id="fri">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th class="text-right">Session</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                5:30 - 6:30 PM
                            </td>
                            <td>
                                Camp Introduction
                            </td>
                        </tr>
                        <tr>
                            <td>
                                6:30 - 7:15 PM
                            </td>
                            <td>
                                Family Introductions
                            </td>
                        </tr>
                        <tr>
                            <td>
                                7:15 - 8:15 PM
                            </td>
                            <td>
                                Break
                            </td>
                        </tr>
                        <tr>
                            <td>
                                8:15 - 10:35 PM
                            </td>
                            <td>
                                Family Activities
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Saturday-->
            <div class="col-md bg-light px-3 mx-3">
                <h5 class="text-center my-3">—Saturday—</h5>
                <table class="table table-sm" id="sat">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th class="text-right">Session</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                10:00 - 10:25 AM
                            </td>
                            <td>
                                Staff Introductions
                            </td>
                        </tr>

                        <tr>
                            <td>
                                10:25 - 10:40 AM
                            </td>
                            <td>
                                Energizer
                            </td>
                        </tr>

                        <tr>
                            <td>
                                10:40 - 11:55 AM
                            </td>

                            <td>
                                Worshop #1
                            </td>

                        </tr>

                        <tr>
                            <td>
                                11:55 - 12:10 PM
                            </td>
                            <td>
                                Transition Time
                            </td>
                        </tr>

                        <tr>
                            <td>
                                12:10 - 1:25 PM
                            </td>
                            <td>
                                Workshop #2
                            </td>
                        </tr>

                        <tr>
                            <td>
                                1:25 - 2:25 PM
                            </td>
                            <td>
                                Break
                            </td>
                        </tr>

                        <tr>
                            <td>
                                2:25 - 5:00 PM
                            </td>
                            <td>
                                Big Games
                            </td>
                        </tr>

                        <tr>
                            <td>
                                5:00 - 6:30 PM
                            </td>
                            <td>
                                Break / Skit Practice
                            </td>
                        </tr>

                        <tr>
                            <td>
                                6:30 - 8:00 PM
                            </td>
                            <td>
                                Skits
                            </td>
                        </tr>
                        <tr>
                            <td>
                                8:00 - 8:30 PM
                            </td>
                            <td>
                                Break
                            </td>
                        </tr>
                        <tr>
                            <td>
                                8:30 - 10:00 PM
                            </td>
                            <td>
                                Family Activities
                            </td>
                        </tr>

                        <tr>
                            <td>
                                10:00 - 11:00 PM
                            </td>
                            <td>
                                Virtual Afterset
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <!-- Sunday -->
            <div class="col-md bg-light px-3 mx-3">
                <h5 class="text-center my-3">—Sunday—</h5>
                <table class="table table-sm" id="sun">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th class="text-right">Session</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10:30 AM - 10:45 </td>
                            <td>
                                Energizer
                            </td>
                        </tr>
                        <tr>
                            <td>10:45 - 12:00 PM</td>
                            <td>
                                Workshop #3
                            </td>
                        </tr>
                        <tr>
                            <td>
                                12:00 - 1:00 PM
                            </td>
                            <td>
                                Break
                            </td>
                        </tr>

                        <tr>
                            <td>
                                1:00 - 2:30 PM
                            </td>
                            <td>
                                SELC Breaks the Internet
                            </td>
                        </tr>

                        <tr>
                            <td>
                                2:30 - 3:15 PM
                            </td>
                            <td>
                                Tam Su / Reflections
                            </td>
                        </tr>
                        <tr>
                            <td>
                                3:15 - 3:30 PM
                            </td>
                            <td>
                                Closing Statements
                            </td>
                        </tr>
                        <tr>
                            <td>
                                3:30 - 3:45 PM
                            </td>
                            <td>
                                Zoom Photos
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End SELC Schedule -->
<!-- Family -->
<div class="container my-5 mobile-center">
    <button class="btn btn-tab mb-2 mobile-width" type="button" data-toggle="collapse" data-target="#familyCollapse" aria-expanded="true"
        aria-controls="familyCollapse">
        My Family</button>

    <div id="teamImages" class="row bg-light collapse dont-collapse-sm" id="familyCollapse">

    </div>




</div>




<script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-storage.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-firestore.js"></script>

<script>

    const firebaseConfig = {
        apiKey: "AIzaSyCic5UWC0fXladccjESHt2eEUFR3GCpu7k",
        authDomain: "test-73b01.firebaseapp.com",
        databaseURL: "https://test-73b01.firebaseio.com",
        projectId: "test-73b01",
        storageBucket: "test-73b01.appspot.com",
        messagingSenderId: "622256382010",
        appId: "1:622256382010:web:305e70e752a5a757c2d503"
    };

    firebase.initializeApp(firebaseConfig);

    const db = firebase.firestore();

    let currentUser;

    firebase.auth().onAuthStateChanged(user => {

        if (user) {

            firebase.storage().ref('users/' + user.uid + '/profile.jpg').getDownloadURL().then(imgURL => {
                document.getElementById("attendeePic").src = imgURL;
            })
            db.collection('users').where("uid", "==", user.uid).get().then(snapshot => {
                snapshot.forEach((doc) => {
                    currentUser = doc.data();
                    $("#points").html(`#${currentUser.points}`);

                    db.collection('teams').orderBy("points", "desc").get().then(snapshot => {
                        let familyRank = 1;
                        snapshot.forEach((doc) => {
                            let teamData = doc.data();
                            if (teamData.team == currentUser.teamName) {

                                $("#frank").html(`#${familyRank}`);
                                $("#fpoints").html(`#${teamData.points}`);

                                // firebase.storage().ref('users/' + document.getElementById(`teamIDs${i}`).getAttribute("value") + '/profile.jpg').getDownloadURL().then(imgURL => {
                                //     console.log(202, imgURL);
                                // })
                            }

                        })
                    });

                    db.collection('users').where("teamName", "==", currentUser.teamName).get().then(snapshot => {
                        let teamImageCounter = 0;
                        let teamImages = '';
                        snapshot.forEach((doc) => {
                            let teamData = doc.data();
                            console.log(197, snapshot.size);


                            firebase.storage().ref('users/' + teamData.uid + '/profile.jpg').getDownloadURL().then(imgURL => {
                                teamImages += `
                                <div class="col-4 text-center">
                                    <div class="card bg-light border-0 mob-w">
                                        <div class="card-body px-0 pb-0">
                                            <img class="img-fluid team-img-maxSize" src = ${imgURL}>
                                            <p class="card-title font-weight-bold mt-1">
                                            ${teamData.fullName}
                                            </p>
                                            <p class="card-text">
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                `;
                                if (teamImageCounter == (snapshot.size)) {
                                    $("#teamImages").html(teamImages);
                                }
                            })
                                .catch(() => {
                                    teamImages += `
                                <div class="col-4 text-center">
                                    <div class="card bg-light border-0 mob-w">
                                        <div class="card-body px-0 pb-0">
                                            <img class="img-fluid team-img-maxSize" src ="">
                                            <p class="card-title font-weight-bold mt-1">
                                            ${teamData.fullName}
                                            </p>
                                            <p class="card-text">
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                `;
                                })
                            teamImageCounter++;


                        })
                    });

                    db.collection('users').orderBy("points", "desc").get().then(snapshot => {
                        let individualRank = 1;
                        snapshot.forEach((doc) => {
                            let individualData = doc.data();
                            if (individualData.fullName == currentUser.fullName) {
                                $("#rank").html(`#${individualRank}`);
                            }
                            individualRank++;
                        })
                    });
                })
            });




            $("#currentName").html(user.email);
            firebase.storage().ref('users/' + user.uid + '/profile.jpg').getDownloadURL().then(imgURL => {
                $("#attendeePic").html(`<img class = "img-fluid" src = ${imgURL}`);
            });
        }
    })

    db.collection('users').get().then(snapshot => {
        snapshot.forEach((doc) => {
            if (doc.data().teamName == 'Red') {

            }
        })
    });
    // for (let i = 0; i < document.getElementById(`teamIDsLength`).getAttribute("value"); i++) {
    //     //console.log(175, document.getElementById(`teamIDs${i}`).getAttribute("value"));
    //     firebase.storage().ref('users/' + document.getElementById(`teamIDs${i}`).getAttribute("value") + '/profile.jpg').getDownloadURL().then(imgURL => {
    //         document.getElementById("teamImg" + i).src = imgURL;
    //         console.log(211, imgURL);
    //     })
    // }




    // temp schedule array for testing
    const saSc = [
        { time: "10am", name: "Session 1" },
        { time: "11am", name: "Session 2" }
    ]
    // temp family list for testing
    const famList = [
        { name: "Holly Vu", uni: "University of Florida", photo: "./Images/Profile/example.png" },
        { name: "Jason Phu", uni: "Rutgers University", photo: "./Images/Profile/example.png" },
        { name: "Tester Name", uni: "Blank University", photo: "./Images/Profile/example.png" },
        { name: "Tester Name", uni: "Blank University", photo: "./Images/Profile/example.png" },
        { name: "Tester Name", uni: "Blank University", photo: "./Images/Profile/example.png" },
        { name: "Tester Name", uni: "Blank University", photo: "./Images/Profile/example.png" },
        { name: "Tester Name", uni: "Blank University", photo: "./Images/Profile/example.png" }
    ]

    function loadSchedule(table, data) {
        for (let element of data) {
            let row = table.insertRow();
            for (key in element) {
                let cell = row.insertCell();
                if (key == 'name') {
                    cell.className = 'text-right';
                }
                let text = document.createTextNode(element[key]);
                cell.appendChild(text);
            }
        }
    }
    let table = document.getElementById("sat");
    loadSchedule(table, saSc);
    table = document.getElementById("fri");
    loadSchedule(table, saSc)

    function loadFam(section, data) {
        var i = 0;
        for (let element of data) {
            let card = document.createElement('div');
            card.className = 'card bg-light border-0 mob-w';

            let photo = document.createElement('img');
            photo.className = 'card-img-top'
            photo.src = element.photo;

            let cardBody = document.createElement('div');
            cardBody.className = 'card-body px-0 pb-0';

            let name = document.createElement('p');
            name.className = 'card-title font-weight-bold mt-1';
            name.innerText = element.name;

            let uni = document.createElement('p');
            uni.className = 'card-text'
            uni.innerText = element.uni;

            cardBody.append(photo, name, uni);
            card.appendChild(cardBody);
            section.appendChild(card);

        }
    }
    let famSec = document.getElementById("family-Section");
    //loadFam(famSec, famList);

    $('button[data-toggle="collapse"]').click(function (e) {
        if ($(window).width() >= 768) {
            // Should prevent the collapsible and default anchor linking 
            // behavior for screen sizes equal or larger than 768px.
            e.preventDefault();
            e.stopPropagation();
        }
    });

</script>