<div class="container">

    <div class="row">
        <div class="col">
            <h1>Profile page</h1>
            <!--  
            <a href="/sessionLogout">Log out</a>
                -->


            <img class="img-fluid" src="./Images/Profile/draft.png">
        </div>
    </div>
</div>