<div class="container-fluid gradient-bg ">


  <div class="container-fluid container-xl">
    <div class="row min-vh-100 align-items-center justify-content-center py-5">
      <div class="col-12 col-xl-6 bg-red shadow-lg">
        <form class="w-100" id="resetPasswordForm">

          <div class="form-group">

            <label>
              Email
              <img class="label-icons" src="./Images/Account/email_icon.svg">
            </label>
            <input required = "required" type="text" class="form-control" name="email">

          </div>

          <button type="submit" class="btn register-button">
            Reset Password
          </button>

          <div class="mt-3 confirmation-success">
            A password reset email has been sent!
          </div>

          <div class="mt-3 confirmation-error">
            There was an error sending the password reset email. Please try again.
          </div>






        </form>


      </div>
      <div class="col-12 col-xl-6 px-0">
        <img class="img-fluid maxHeight" src="./Images/Account/bg2.png">
      </div>
    </div>
  </div>

</div>




<script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-storage.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

<script>
  const firebaseConfig = {
    apiKey: "AIzaSyCic5UWC0fXladccjESHt2eEUFR3GCpu7k",
    authDomain: "test-73b01.firebaseapp.com",
    databaseURL: "https://test-73b01.firebaseio.com",
    projectId: "test-73b01",
    storageBucket: "test-73b01.appspot.com",
    messagingSenderId: "622256382010",
    appId: "1:622256382010:web:305e70e752a5a757c2d503"
  };

  firebase.initializeApp(firebaseConfig);

  const auth = firebase.auth();

  const forgotPassowrdForm = document.querySelector('#resetPasswordForm');
  forgotPassowrdForm.addEventListener('submit', (e) => {
    e.preventDefault();
    console.log(64, e);
    const email = forgotPassowrdForm['email'].value;
    console.log(66, email);

    auth.sendPasswordResetEmail(email).then(function () {

      $(".confirmation-success").show();
      forgotPassowrdForm['email'].value = "";
    }).catch(function (error) {
      $(".confirmation-error").show();
      forgotPassowrdForm['email'].value = "";
    });
  });


</script>