<div class="container-fluid gradient-bg ">


  <div class="container-fluid container-xl">
    <div class="row min-vh-100 align-items-center justify-content-center py-5">
      <div class="col-12 col-xl-6 bg-red">
        <form class="w-100" id="signup">

          <div class="form-group">

            <label>
              First Name
            </label>
            <input type="text" class="form-control" name="firstName">

          </div>

          <div class="form-group">

            <label>
              Last Name
            </label>

            <input type="text" class="form-control" name="lastName">

          </div>
          <div class="form-group">

            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="login">

          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="password">
          </div>

          <div class="form-group">  
          <label for="exampleInputPassword1">
            Upload Profile Image
          </label>
          <br>
            <input id="uploadedImage" type="file" name="profileImage">

          </div>

          <button type="submit" class="btn register-button">
            Register
          </button>
          <div  class="d-flex justify-content-center py-3">
            <div id= "loading-spinner" class="spinner-border text-warning" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
         
          <div class="error pt-3">
            There was an error when registering your account. Please try again.
          </div>
        </form>


      </div>
      <div class="col-12 col-xl-6 px-0">
        <img class="img-fluid maxHeight" src="./Images/Signup/bg2.png">
      </div>
    </div>
  </div>

</div>




<script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-storage.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

<script>
  const firebaseConfig = {
    apiKey: "AIzaSyCic5UWC0fXladccjESHt2eEUFR3GCpu7k",
    authDomain: "test-73b01.firebaseapp.com",
    databaseURL: "https://test-73b01.firebaseio.com",
    projectId: "test-73b01",
    storageBucket: "test-73b01.appspot.com",
    messagingSenderId: "622256382010",
    appId: "1:622256382010:web:305e70e752a5a757c2d503"
  };

  firebase.initializeApp(firebaseConfig);



  document
    .getElementById("signup")
    .addEventListener("submit", (event) => {

      document.getElementById("loading-spinner").style.display = "block";
      event.preventDefault();
      const login = event.target.login.value;
      const password = event.target.password.value;
      const firstName = event.target.firstName.value;
      const lastName = event.target.lastName.value;
      const profileImage = document.getElementById("uploadedImage").files[0];
      //console.log(92, profileImage);

      firebase
        .auth()
        .createUserWithEmailAndPassword(login, password)
        .then(({ user }) => {

          firebase.storage().ref('users/' + user.uid + '/profile.jpg').put(profileImage).then(function () {
            console.log(122, "Proifle picture uploaded successfully!");
            document.getElementById("loading-spinner").style.display = "none";
            return user;
          })
            .then((user) => {
              return user.getIdToken().then((idToken) => {
                return fetch("/sessionSignup", {
                  method: "POST",
                  headers: {
                    Accept: "application/json",
                    "Content-Type": "application/json",
                    "CSRF-Token": Cookies.get("XSRF-TOKEN"),
                  },
                  body: JSON.stringify({
                    idToken,
                    "uid": user.uid,
                    email: login,
                    firstName,
                    lastName
                  }),
                });
              })
                .then(() => {
                  console.log(132, "Redirecting")
                  window.location.assign("/");
                })
                .catch(function (err) {
                  console.log(126, err.message);
                  $(".error").show();
                  event.target.login.value = "";
                  event.target.password.value = "";
                });
            })
        })
        .catch(error => {
          console.log(117, error.message);
        })
    })


</script>