.dark-blue-bg-color {
  background-color: #009fb7;
}

.thead-blue {
  background-color: #F8F9FA;
  border-bottom: 3px solid #009fb7 !important;
}

.border-color {
  border: solid #009fb7 3px !important;
}

.btn-UVSASE-darkblue {
  background-color: #114b5f;
  color: #FFFFFF;
}

.workshop-background-color {
  background-color: transparent;
}

.text-UVSASE-blue {
  color: #009fb7;
}

.btn-UVSASE-darkblue:hover {
  color: #009fb7;
}

.maxIconSize {
  height: 64px;
  width: 64px;
}

.workshopText {
  font-size: 1.2rem;
}

.card-admin-text {
  color: white;
  font-size: 1.5rem;
}

.workshopName {
  font-size: 16px;
  text-align: center;
}

.numberRegistered {
  font-size: 12px;
  text-align: center;
}

.columnName {
  color: #009fb7 !important;
  font-size: 1.5rem;
}

.account-registered-number {
  font-size: 4rem;
  text-align: center;
  color: #009fb7;
  font-weight: 300;
}

.account-registered-title {
  color: #009fb7;
  text-align: center;
  font-weight: bold;
}

.dashboard-card-img {
  height: 100px;
  width: 100px;
  margin-top: 1rem;
}

.dashboard-card {
  background-color: transparent;
  border: solid 1px #009fb7;
  -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
          box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
}

.no-border-top {
  border-top: none !important;
}

.card-hover:hover {
  background-color: #114b5f;
}

.filterIcon {
  display: none;
  height: 20px;
  width: 20px;
}

@media screen and (min-width: 448px) {
  .filterIcon {
    display: inline-block;
  }
}

@media screen and (min-width: 776px) {
  .dashboard-card-img {
    margin-top: 0rem;
  }
}
