.leaderboard-thead {
  color: black;
  background-color: transparent;
  border: solid 3px #009fb7 !important;
  -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
          box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
}
