.btn-UVSASE-darkBlue {
  background-color: #3E919F;
  display: none;
}

.hidden {
  display: none;
}

.maxIconSize {
  height: 64px;
  width: 64px;
}

.confirmation-message {
  background-color: transparent;
  border: 1px solid #009fb7;
  -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
          box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
}

.workshop-border {
  border: 3px solid #009fb7;
}

.workshop-font-color {
  color: #009fb7;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
}

th {
  color: #114b5f;
}

.max-img-size {
  height: 40px;
  width: 40px;
}

.yellow-bg {
  background-color: #fed766;
}

.workshop-name {
  font-size: 1.5rem;
}

.presenter-name {
  color: #009fb7;
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: .5rem;
  font-weight: bold;
}

.remaining-spots {
  color: #114b5f;
  font-weight: bold;
  font-size: 1.2rem;
}

.workshop-presenter-photo {
  -o-object-fit: contain;
     object-fit: contain;
  height: 200px;
  background-position: center center;
  margin-top: 15px;
  border-radius: 3rem;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.materials-needed {
  font-weight: bold;
}

.hideWorkshopNotification {
  display: none;
}

.scroll-down-icon {
  width: 50px;
  height: 50px;
}

.workshop-title {
  font-size: 4rem;
  text-align: center;
  color: #009fb7;
}

.tempHide {
  display: none;
}

@media screen and (min-width: 992px) {
  .min-card-height {
    height: 350px;
  }
  .min-card-body-height {
    height: 500px;
  }
}

@media screen and (min-width: 1200px) {
  .min-card-body-height {
    height: 500px;
  }
}

.workshop-description {
  font-size: .90em;
  overflow: scroll;
  height: 300px;
  overflow-x: hidden;
}
