<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./CSS/<%= pagename %>.css">
    <link rel="stylesheet" href="./CSS/global.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="icon" type="image/png" href="../Images/Dashboard/logo.png" />

    <title>
        <%= title %>
    </title>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-UVSASE-blue">
    <a class="navbar-brand" href=".">SELC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <% if(isLoggedIn == true) { %>

            <li class="nav-item">
                <a class="nav-link" href="./pointsForm">
                    Modify Points
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="./accountOverview">
                   Account Overview
                </a>
            </li>
            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item" href="./teamForm">
                        Modify teams
                    </a>
                    <a class="dropdown-item" href="/history">
                        History
                    </a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="./lovebox">
                        Lovebox
                    </a>
                    <a class="dropdown-item" href="./loveboxQueue">
                        Lovebox Queue
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Attendee
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="./leaderboard">
                        Leaderboard
                    </a>
                    <a class="dropdown-item" href="./profile">
                        Profile
                    </a>
                    <a class="dropdown-item" href="/register-workshops">
                        Workshops
                    </a>
                    <a class="dropdown-item" href="/positiveSparks">
                        Positive Sparks
                    </a>
                </div>
            </li>
            <% } %>

            <% if(isLoggedIn != true) { %>
            <li class="nav-item">
                <a class="nav-link" href="/login">
                    Login
                </a>
            </li>
           

            <% } %>



        </ul>
        <ul class="navbar-nav ml-auto">
            <% if(isLoggedIn == true) { %>
            <li class="nav-item">
                <a class="nav-link" href="/sessionLogout">Logout</a>
            </li>
            <% } %>
        </ul>

    </div>
</nav>

<body>
    <%-body%>
</body>


</html>